<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="GBHomepage" value="https://www.giantbomb.com" />
    <add key="GBChat" value="https://www.giantbomb.com/chat" />
    <add key="GBUpcomingJson" value="https://www.giantbomb.com/upcoming_json" />
    <add key="GBIsLiveMessage" value="Giant Bomb is LIVE" />
    <add key="GBIsNotLiveMessage" value="Giant Bomb is not streaming" />
    <add key="UserAgent" value="GB Live (GitHub) - Desktop app for upcoming events and live status - polls upcoming_json every 3 mins" />
  </appSettings>
</configuration>